<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron" id="header">
        @Html.ActionLink("IT вакансии hh.ru в Калуге", "Index", "Home", new { @class = "title h1" })
    </div>
    <div class="row">
        <div class="col-lg-4" id="left-container">
            @RenderSection("SearchForm")
        </div>
        <div class="col-lg-8" id="main-container">
            @RenderSection("VacancyList", false)
        </div>
    </div>
    <div id="footer"/>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @RenderSection("scripts", required: false)
</body>
</html>
