<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron" id="header">
        <h1 id="header-title">Вакансии</h1>
    </div>
    <div class="row">
        <div class="col-lg-2" id="left-container"></div>
        <div class="col-lg-8" id="main-container">
            @RenderSection("VacancyList")
        </div>
        <div class="col-lg-2" id="right-container"></div>
    </div>
    <div id="footer"/>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
